.nav-link{
    display: inline-block;
    box-sizing: border-box;
    width: 170px;
    padding: 5px;
    margin: 6px;
    text-decoration: none;
    text-align: center;
    font-size: min(15vw, 25px);
    font-weight: bolder;
    color: black;
    /* background: blue; */
}

.active {
    color: red;
}